<header>
    <div class='assignment-header'>
        <div class='back-container'>
            <button onclick="location.href = '/'">Back</button>
        </div>
        <span><%= title %></span>
    </div>
</header>