// $themes: (
//     futuristic: (
//         blackish: #2C3531,
//         blue-green: #116466,
//         parchment: #D9B08C,
//         nude: #FFCB9A,
//         light-blue: #D1E8E2,
//         darker light-blue: #aad4c9
//     )
// )
//futuristic color theme
$blackish: #2C3531;
$blue-green: #116466;
$parchment: #D9B08C;
$nude: #FFCB9A;
$light-blue: #D1E8E2;
$blue-light: #aad4c9;