<!DOCTYPE html>
<html>
    <head>
        <title>Planechat</title>
        <link rel='stylesheet' href='/stylesheets/planechat/app.css' />
        <link rel='stylesheet' href='/stylesheets/planechat/main.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
        <script src="/javascripts/planechat/popper.js"></script>
        <script src="/javascripts/planechat/magicApi.js"></script>
        <script src="/javascripts/planechat/ajaxData.js"></script>
        <script src="/javascripts/planechat/planechat-scripts.js"></script>
        <script src="/javascripts/cookie.js"></script>
        <script type="text/javascript">
            window.onload = onLoadFunction;
        </script>
    </head>
    <body>
        <div id="gridWrapper">
            <div id="leftContainer">
                <div id="titleBar">
                    <span><%= title %></span>
                </div>
                <div id="usernameContainer">
                    <span><%= username %></span>
                </div>
                <div id="logoutContainer">
                    <a id="logoutButton" href="/logout">Logout</a>
                </div>
                <div id="onlineUsersContainer">
                    <span>Users online:</span><br>
                    <ul id="onlineUsersList"></ul>
                </div>
            </div>
            <div id="mainChatContainer">
                <div id="chatList"></div>
            </div>
            <div id="mainMessageContainer">
                <div id="cardTagsContainer">
                    <div id="cardTagsText">Tags: </div>
                    <div id="cardTagsList"></div>
                </div>
                <form id="chatForm" action="">
                    <div id="messageInputContainer">
                        <input type="text" id="messageInput" autocomplete="off" placeholder="Press enter to send">
                    </div>
                </form>
            </div>
            <div id="rightContainer">
                <div id="expandContainer">
                    <div id="expandBtnContainer">
                        <span id="expandButton" onclick="onRightExpandToggle()" class="fa fa-angle-left fa-2x"></span>
                    </div>
                </div>
                <div id="searchContainer">
                    <div id="searchInputContainer">
                        <input type="text" id="searchInput" placeholder="Search">
                    </div>
                    <div id="searchListContainer">
                        <div id="searchList"></div>
                    </div>
                </div>
                <div id="advSearchContainer">
                    
                </div>
            </div>
        </div>
    </body>
</html>

<!--
To-do List
    To complete class assignment:
        Unit test
    Key features:
        Display name separate from username - log in using email
        Better login page
        Emoji plugin
        Magic symbols - similar to emoji plugin
        Card details modal
    Other features:
        Notifications
        Private conversations
        User logos / images
        favicon
        Themes
        Add username referencing in chat (like slack with "@")
-->