<!DOCTYPE html>
<html>
    <head>
        <title>Planechat</title>
        <link rel='stylesheet' href='/stylesheets/planechat/app.css' />
        <link rel='stylesheet' href='/stylesheets/planechat/main.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="/javascripts/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
        <script src="/javascripts/planechat/planechat-scripts.js"></script>
        <script src="/javascripts/planechat/magicApi.js"></script>
        <script src="/javascripts/cookie.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                socket.emit('userLoaded', $('#hidden_username')[0].textContent);

                var form = document.getElementById('chatForm');
                
                form.onsubmit = function (event) {
                    var model = {
                        from_user: $('#hidden_username')[0].textContent,
                        message: $('#messageInput').val()
                    }

                    socket.emit('chat', model);

                    $('#messageInput').val('');
                    
                    return false;
                }

                var magic = new MagicApi();

                //set key listener for search input
                $("#searchInput").on("input", function (event) {
                    //TODO: add live search for magic cards
                    var text = event.target.value;

                    if (text.length > 2) {
                        magic.queryCardsByName(text).done(function (data) {
                            if (data) {
                                if (data.cards.length > 0) {
                                    setSearchResults(data.cards);
                                } else {
                                    setSearchResults(null);
                                }
                            }
                        });
                    } else {
                        setSearchResults(null);
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="hidden-data" id="hidden_username"><%= username %></div>
        <div id="gridWrapper">
            <div id="leftContainer">
                <div id="titleBar">
                    <span><%= title %></span>
                </div>
                <div id="usernameContainer">
                    <span>Your user id: <%= username %></span>
                </div>
                <div id="onlineUsersContainer">
                    <span>Users online:</span><br>
                    <ul id="onlineUsersList"></ul>
                </div>
            </div>
            <div id="mainChatContainer">
                <div id="chatList"></div>
            </div>
            <div id="mainMessageContainer">
                <form id="chatForm" action="">
                    <div id="messageInputContainer">
                        <input type="text" id="messageInput" autocomplete="off" placeholder="Press enter to send">
                    </div>
                </form>
            </div>
            <div id="rightContainer">
                <div id="expandContainer">
                    <div id="expandBtnContainer">
                        <span id="expandButton" onclick="onRightExpandToggle()" class="fa fa-angle-left fa-2x"></span>
                    </div>
                </div>
                <div id="searchContainer">
                    <div id="searchInputContainer">
                        <input type="text" id="searchInput" placeholder="Search">
                    </div>
                    <div id="searchList"></div>
                </div>
                <div id="advSearchContainer">

                </div>
            </div>
        </div>
    </body>
</html>

<!--
To-do List
    Key features:
        Search for Magic cards by name
        Card names have links to a card image
        Logout / switch user button
        Emoji plugin
        Magic symbols - similar to emoji plugin
    Other features:
        Set up active_users collection
        User logos / images
        favicon
        Themes
-->